@model GitHubUsernameLookup.Models.GitHubViewModel
<div class="row">
    <div class="col-lg-12" style="margin: 20px 0">
        @using (Html.BeginForm("Index", "Home", FormMethod.Post))
        {
            <label>GitHub Username: </label>
            @Html.TextBoxFor(model => model.User.Username)
            <button>Submit</button>
        }
    </div>
</div>
<div class="row">
    <div class="col-lg-3">
        <img src="@Model.User.Avatar" alt="@Model.User.Username" width="200" />
    </div>
    <div class="col-lg-4">
        <div>
            @Html.LabelFor(model => model.User.Username) :
            @Html.DisplayFor(model => model.User.Username)
        </div>
        <div>
            @Html.LabelFor(model => model.User.Location) :
            @Html.DisplayFor(model => model.User.Location)
        </div>
        <h3>Top 5 Repositories</h3>
        <ul>
            @foreach (var repository in Model.Repositories)
            {
                <li><strong>@repository.Name</strong> - (@repository.StarGazerCount Star Gazer Count)</li>
            }
        </ul>
    </div>
</div>